<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parrot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.application.RedeSocialParrotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".modules.authentication.activity.RegisterUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".PrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity android:name=".modules.search.activity.ProfileResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".modules.profile.activity.ProfileConfigActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme" />


        <activity android:name=".modules.authentication.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>